/*

!.gitignore

!/src
/src/**
!/src/*.c
!/src/*.h

!/src/execute
/src/execute/**
!/src/execute/*.c

!/src/scaffolding
/src/scaffolding/**
!/src/scaffolding/*.c
!/src/scaffolding/*.h

!Makefile
!README.md
